[Unit]
Description=colin test golang on systemd
After=network.target

[Service]
Type=forking
PIDFile=/tmp/demo-process.pid
User=colin
Group=colin
ExecStartPre=/bin/echo ok
ExecStart=/tmp/demo-process
ExecStop=/bin/kill $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
