[Unit]
Description=colin test golang on systemd
After=network.target

[Service]
Type=forking
# User=colin
# Group=colin
ExecStartPre=/bin/echo ok
ExecStart=/bin/bash -c '/usr/local/sbin/demo-process &'
ExecStop=/bin/kill -s QUIT $MAINPID

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
